<!DOCTYPE html>
<html>
<head>
  <title>Szczegóły Klienta</title>
</head>
<body>
  <h1>Szczegóły Klienta</h1>
  <table>
    <tbody>
      <tr>
        <td>CustomerId:</td>
        <td><%= customer.CustomerId %></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><%= customer.FirstName %></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><%= customer.LastName %></td>
      </tr>
      <tr>
        <td>Company:</td>
        <td><%= customer.Company %></td>
      </tr>
      <tr>
        <td>Address:</td>
        <td><%= customer.Address %></td>
      </tr>
      <tr>
        <td>City:</td>
        <td><%= customer.City %></td>
      </tr>
      <tr>
        <td>State:</td>
        <td><%= customer.State %></td>
      </tr>
      <tr>
        <td>Country:</td>
        <td><%= customer.Country %></td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td><%= customer.PostalCode %></td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td><%= customer.Phone %></td>
      </tr>
      <tr>
        <td>Fax:</td>
        <td><%= customer.Fax %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= customer.Email %></td>
      </tr>
      <tr>
        <td>SupportRepId:</td>
        <td><%= customer.SupportRepId %></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
