<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Save Customer</h1>
  <label>First Name</label>
  <input type="text" name="FName" value="<%= FName %>" required /><br><br>
  <label>Last Name</label>
  <input type="text" name="LName" value="<%= LName %>" required /><br><br>
  <label>Company</label>
  <input type="text" name="Company" value="<%= Company %>" /><br><br>
  <label>City</label>
  <input type="text" name="City" value="<%= City %>" /><br><br>
</body>
</html>
